<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <title>PubCon Schedule - Progressive Web App</title>
    <meta name="description" content="{{{description}}}">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/addtohomescreen.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pubcon.love2dev">
    <meta name="apple-mobile-web-app-title" content="Pubcon.love2dev">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="meta/ios/ios-appicon-120-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="meta/ios/ios-appicon-152-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="meta/ios/ios-appicon-180-180.png">
    <link rel="apple-touch-icon" sizes="120x120" href="meta/ios/ios-appicon-120-120.png">
    <link href="meta/ios/apple-touch-startup-image-320x460.png" media="(device-width: 320px)"
        rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-640x920.png"
        media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-768x1004.png"
        media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-748x1024.png"
        media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-1536x2008.png"
        media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-2048x1496.png"
        media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
    <!-- iPhone 6/7/8 -->
    <link href="/meta/ios/apple-touch-startup-image-750x1334.png"
        media="(device-width: 375px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <!-- iPhone 6 Plus/7 Plus/8 Plus -->
    <link href="/meta/ios/apple-touch-startup-image-1242x2208.png"
        media="(device-width: 414px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />

    <meta name="msapplication-starturl" content="/?utm_source=homescreen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="favicon.ico" rel="shortcut icon">
    <link rel="icon" type="image/png" href="meta/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="meta/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="meta/favicon-96x96.png" sizes="96x96">

    <meta name="theme-color" content="#b01616">

    <link rel="manifest" href="manifest.json">
    <meta name="generator" content="PWA Starter">
</head>

<body>

    <div class="navbar navbar-expand-lg navbar-light bg-white fixed-top " role="navigation">
        <div>
            <a class="navbar-brand" href="/">
                <img srcset="img/pubcon-logo-1200x334.png, img/pubcon-logo-992x276.png 992w,img/pubcon-logo-768x214.png 768w,img/pubcon-logo-576x160.png 576w,img/pubcon-logo-460x128.png 460w,img/pubcon-logo-320x89.png 320w"
                    src="img/pubcon-logo-1200x334.png" sizes="(max-width: 736px) 60vw, 360px" alt="PubCon">
            </a>
        </div>
    </div>

    <div class="page-content">
        <h1>Offline</h1>
        <p>Sorry, you appear to be offline and for some reason we don't have a cached response for you. This sucks, when
            you can drop me a line and describe what you tried to do. Now, if you tried to open a page that does not
            exist, then this is what you should see, so we are good. :)</p>
    </div>

    <nav class="appbar appbar-bottom bg-white">
        <ul>
            <li appbar-target="/" class="nav-btn-home">
                <span class="appbar-icon" title="Mehab Home">
                    <i class="fas fa-home fa-2x"></i>
                </span>
                <span class="appbar-btn-text">Home</span>
            </li>
            <li appbar-target="speakers/" class="nav-btn-speakers">
                <span class="appbar-icon" title="Speakers">
                    <i class="fas fa-users fa-2x"></i></span>
                <span class="appbar-btn-text">Speakers</span>
            </li>
            <li appbar-target="favorites/" class="nav-btn-favorites">
                <span class="appbar-icon" title="Favorites">
                    <i class="fas fa-star fa-2x"></i></span>
                <span class="appbar-btn-text">Favorites</span>
            </li>
            <li appbar-target="about/" class="nav-btn-about">
                <span class="appbar-icon" title="About">
                    <i class="fas fa-info-circled fa-2x"></i></span>
                <span class="appbar-btn-text">About</span>
            </li>
        </ul>
    </nav>

    <div class="ath-container banner-bottom-center">
        <div class="ath-banner">
            <div class="ath-banner-cell">
                <img src="imgs/pwa-logo-50x50.png" alt="PWA" class="ath-prompt-logo">
            </div>
            <div class="ath-banner-title">
                <p>Install PubCon?</p>
            </div>
            <div class="ath-banner-cell">
                <button class="btn btn-cancel btn-link">Not Now</button>
            </div>
            <div class="ath-banner-cell">
                <button class="btn btn-install btn-success">Install</button>
            </div>

        </div>
    </div>

    <script src="js/libs/addtohomescreen.min.js" type="application/javascript"></script>
    <script src="js/libs/localforage.min.js" type="application/javascript"></script>
    <script src="js/libs/mustache.min.js" type="application/javascript"></script>
    <script src="js/app/services/utils.js" type="application/javascript"></script>
    <script src="js/app/services/data.js" type="application/javascript"></script>
    <script src="js/app/services/sessions.js" type="application/javascript"></script>
    <script src="js/app/services/speakers.js" type="application/javascript"></script>
    <script src="js/app/services/favorites.js" type="application/javascript"></script>
    <script src="js/app/ui/component.base.js" type="application/javascript"></script>
    <script src="js/app/ui/favorites.js" type="application/javascript"></script>
    <script src="js/libs/share.js" type="application/javascript"></script>
    <script src="js/app/services/sw_message.js" type="application/javascript"></script>
    <script src="js/app/app.js" type="application/javascript"></script>
    <script src="js/app/controllers/search.js" type="application/javascript"></script>

</body>

</html>