{{#sessions}}
<div class="card" id="{{id}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        {{#speakers}}
        <p class="session-text">
            <img class="rounded-circle mugshot-md mr-2" src="{{{profilePicture}}}" alt="{{firstName}}
                    {{lastName}}" /><a href="speaker/{{id}}/"><b>{{firstName}}
                    {{lastName}}</b></a></p>
        {{/speakers}}
        <p class="card-text">{{time}} - {{#room}}{{name}}{{/room}}{{^room}}TBD{{/room}}</p>
        <a href="session/{{id}}/" class="card-link btn btn-primary float-right">Details</a>
        <div class="favorite btn-favorite" favorite-id="{{id}}">
            <i class="far fa-star-empty"></i>
        </div>
    </div>
</div>
{{/sessions}}