<div class="session-detail">
    <h1 class="session-title">{{title}}</h1>
    <div class="session-details-container">
        {{#speakers}}
        <p class="session-text">
            <img class="rounded-circle mugshot-md mr-2" src="{{{profilePicture}}}" alt="{{firstName}}
                    {{lastName}}" /><a href="speaker/{{id}}/"><b>{{firstName}}
                    {{lastName}}</b></a></p>
        {{/speakers}}
        <p class="session-text">
            <b>{{time}} - {{#room}}{{name}}{{/room}}{{^room}}TBD{{/room}}</b>
        </p>
        <div class="favorite btn-favorite" favorite-id="{{id}}">
            <i class="far fa-star-empty"></i>
        </div>
    </div>
    <div class="session-description">
        {{{description}}}</div>
</div>