{{#speakers}}
<div class="card" id="{{assetId}}">
    <div class="card-body">
        <img class="rounded-circle mugshot-md mr-2" src="{{{profilePicture}}}" alt="{{firstName}}
                    {{lastName}}" />
        <h5 class="card-title">{{firstName}} {{lastName}}</h5>
        <p class="card-text">{{description}}</p>
        <div class="card-list my-1 p-1">
            {{#sessions}}
            <p class="card-text">{{title}}</p>
            <a href="session/{{id}}/" class="card-link btn btn-primary float-right">Details</a>
            {{/sessions}}
        </div>
    </div>
</div>
{{/speakers}}